allow cameraserver adsprpcd_file:dir { getattr search read };
allow cameraserver adsprpcd_file:file { getattr read open };

allow cameraserver mpctl_socket:dir search;
