

#============= adbd ==============
allow adbd ctl_start_prop:property_service set;

#============= dnsmasq ==============
allow dnsmasq netd:unix_stream_socket getattr;

#============= dpmd ==============
allow dpmd sysfs:file { open read };

#============= hal_fingerprint_default ==============
allow hal_fingerprint_default proc_touchpanel:dir search;
allow hal_fingerprint_default sysfs_leds:dir search;

#============= hal_perf_default ==============
allow hal_perf_default mediacodec:process signull;

#============= init ==============
allow init sysfs:file setattr;
allow init sysfs_dm:file { open write };

#============= vendor_init ==============
allow vendor_init proc_touchpanel:file write;

#============= isolated_app ==============
allow isolated_app app_data_file:dir getattr;

#============= netutils_wrapper ==============
allow netutils_wrapper netmgrd:socket { read write };

#============= untrusted_app ==============
allow untrusted_app DockObserver_service:service_manager find;
allow untrusted_app adb_data_file:dir getattr;
allow untrusted_app adb_keys_file:dir getattr;
allow untrusted_app adbd_exec:file getattr;
allow untrusted_app apk_private_data_file:dir getattr;
allow untrusted_app asec_image_file:dir getattr;
allow untrusted_app audioserver_data_file:dir getattr;
allow untrusted_app backup_data_file:dir getattr;
allow untrusted_app battery_service:service_manager find;
allow untrusted_app binder_calls_stats_service:service_manager find;
allow untrusted_app bluetooth_data_file:dir getattr;
allow untrusted_app bootchart_data_file:dir getattr;
allow untrusted_app bootstat_data_file:dir getattr;
allow untrusted_app boottrace_data_file:dir getattr;
allow untrusted_app camera_data_file:dir getattr;
allow untrusted_app cameraproxy_service:service_manager find;
allow untrusted_app cnd_data_file:dir getattr;
allow untrusted_app commontime_management_service:service_manager find;
allow untrusted_app cpuinfo_service:service_manager find;
allow untrusted_app dbinfo_service:service_manager find;
allow untrusted_app debugfs:dir read;
allow untrusted_app debugfs:file getattr;
allow untrusted_app device:chr_file getattr;
allow untrusted_app device:dir read;
allow untrusted_app device:file getattr;
allow untrusted_app devicestoragemonitor_service:service_manager find;
allow untrusted_app diskstats_service:service_manager find;
allow untrusted_app drm_data_file:dir getattr;
allow untrusted_app fingerprint_vendor_data_file:dir getattr;
allow untrusted_app fingerprintd_data_file:dir getattr;
allow untrusted_app gfxinfo_service:service_manager find;
allow untrusted_app gpu_service:service_manager find;
allow untrusted_app heapdump_data_file:dir getattr;
allow untrusted_app init_exec:file getattr;
allow untrusted_app install_data_file:file getattr;
allow untrusted_app lineage_audio_service:service_manager find;
allow untrusted_app lineage_hardware_service:service_manager find;
allow untrusted_app lineage_livedisplay_service:service_manager find;
allow untrusted_app lineage_performance_service:service_manager find;
allow untrusted_app lineage_trust_service:service_manager find;
allow untrusted_app lock_settings_service:service_manager find;
allow untrusted_app meminfo_service:service_manager find;
allow untrusted_app mnt_media_rw_file:dir getattr;
allow untrusted_app mnt_product_file:dir getattr;
allow untrusted_app netd_listener_service:service_manager find;
allow untrusted_app network_score_service:service_manager find;
allow untrusted_app network_time_update_service:service_manager find;
allow untrusted_app network_watchlist_service:service_manager find;
allow untrusted_app oem_lock_service:service_manager find;
allow untrusted_app ota_package_file:dir getattr;
allow untrusted_app otadexopt_service:service_manager find;
allow untrusted_app overlay_service:service_manager find;
allow untrusted_app package_native_service:service_manager find;
allow untrusted_app perfprofd_service:service_manager find;
allow untrusted_app persistent_data_block_service:service_manager find;
allow untrusted_app pinner_service:service_manager find;
allow untrusted_app processinfo_service:service_manager find;
allow untrusted_app radio_data_file:dir getattr;
allow untrusted_app recovery_service:service_manager find;
allow untrusted_app remosaic_service:service_manager find;
allow untrusted_app rootfs:dir read;
allow untrusted_app rootfs:file getattr;
allow untrusted_app scheduling_policy_service:service_manager find;
allow untrusted_app secure_element_service:service_manager find;
allow untrusted_app serial_service:service_manager find;
allow untrusted_app storaged_service:service_manager find;
allow untrusted_app sysfs_kgsl_proc:dir search;
allow untrusted_app system_app_data_file:dir getattr;
allow untrusted_app system_data_file:dir { read };
allow untrusted_app system_data_file:file { open };
allow untrusted_app system_update_service:service_manager find;
allow untrusted_app thermal_service:service_manager find;
allow untrusted_app updatelock_service:service_manager find;
allow untrusted_app vendor_audio_data_file:dir getattr;
allow untrusted_app vendor_bt_data_file:dir getattr;
allow untrusted_app vendor_camera_data_file:dir getattr;
allow untrusted_app vendor_qti_data_file:dir getattr;
allow untrusted_app vendor_radio_data_file:dir search;
allow untrusted_app wificond_service:service_manager find;
allow untrusted_app wifiscanner_service:service_manager find;
allow untrusted_app window_service:service_manager find;

#============= untrusted_app_25 ==============
allow untrusted_app_25 rootfs:dir { open read };
allow untrusted_app_25 debugfs_wakeup_sources:file { getattr open };

#============= untrusted_app_27 ==============
allow untrusted_app_27 hal_memtrack_default:binder call;
allow untrusted_app_27 sysfs_net:dir search;

#============= priv_app ==============
allow priv_app device:dir open;
allow priv_app proc:file { getattr open };
allow priv_app proc_interrupts:file open;
allow priv_app sysfs:file { open read };
allow priv_app sysfs_android_usb:file open;
allow priv_app bt_firmware_file:filesystem getattr;
allow priv_app firmware_file:filesystem getattr;

#============= platform_app ==============
allow platform_app radio_data_file:dir getattr;

#============= system_app ==============
allow system_app proc_pagetypeinfo:file { getattr open read };
allow system_app sysfs_zram:dir search;
allow system_app sysfs_zram:file { getattr open read };

#============= webview_zygote ==============
allow webview_zygote zygote:unix_dgram_socket write;
